{% extends 'base.html.twig' %}

{% block title %}Espace pro - Connection{% endblock %}

{% block body %}
    <body class="container--login">
    <div class="container">
        <div class="row">
            <div class="offset-3 col-6 card--section ">
                {%  for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="offset-1 col-10">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="text-center">
                            <img src="assets/img/diagram.svg" width=90 class="mb-1">
                            <h1 class="mb-5 title">Flow</h1>
                            <h3>Espace professionnels</h3>
                        </div>

                        <p class=" mb-4 text-center">Pour accéder à cet espace, merci de vous connecter.</p>
                        <input type="email"  placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control " required autofocus>
                        <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control mt-3" required>
                        <div  class="float-right" >
                            <a href="#" class="reset--pwd">Mot de passe oublié ?</a>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="text-center">
                            <button class=" btnSignIn btn-block  mt-5" type="submit">
                                Connexion
                            </button>
                        </div>

                    </form>
                </div>


            </div>

        </div>
    </div>
    </body>
{% endblock %}
