{% extends 'base.html.twig' %}

{% block title %}Dashboard {% endblock %}

{% block body %}
    <div class="container mt-4">
            <div class="row">
                <div>
                    {% for detail in userDetails %}
                    <h1>Bonjour, {{ detail.compagnyName }}</h1>
                    <p>Bienvenue sur votre espace d'administration</p>

                     <h5>Les infos pratiques de votre commerce</h5>
                      <p>Téléphone : {{ detail.structureId.phone }} </p>

                    {% endfor %}
                </div>
            </div>

    </div>
{% endblock %}
