{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="container mt-4">
            <div class="row">
                <div>
                    <h1>Bonjour, {% for detail in userDetails %} {{ detail.compagnyName }} {% endfor %}</h1>
                    <p>Bienvenue sur votre espace d'administration</p>
                </div>
            </div>

    </div>
{% endblock %}
